body {
  margin: 0;
  font-family: 'SegoeAji'
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;'
}

@font-face {
  font-family: 'SegoeAji';
  src: url(../src/fonts/SegoeUI.ttf)
  
}
